# File & System
alias cur="cd OneDrive\\ -\\ HKUST\\ Connect/Curriculum"
alias p="ALL_PROXY=socks5://localhost:7890"

# Term
alias s="kitty +kitten ssh"

# Programs
# git
alias ga='git add'
alias gc='git commit'
alias gca='git commit --amend'
alias gr='git rebase'
alias gs='git status'
alias gd='git diff'
alias clone='git clone'
alias pull='git pull'
alias push='git push'
alias fuckyou='git push -f'
alias fuckme='git pull -f'
alias lg='lazygit'

# neovim
alias lvim="XDG_CONFIG_HOME=$HOME/.neovim-distro/lazyvim nvim"
alias nvim="NVIM_APPNAME=neovim-distro/AstroNvim nvim"

# ripgrep
alias pdfrg='rg --pre pdf-pre-rg'

# chezmoi
alias cz='chezmoi'
alias cza='chezmoi add'
alias czp='chezmoi apply'
alias cze='chezmoi edit'
alias czs='chezmoi status'
alias czg='chezmoi git'
alias czfuck='chezmoi re-add'
function czc() {
  cd $(chezmoi source-path)
}

# tex
function texdoc() {
  {{ if eq .chezmoi.os "darwin" -}}
  open
  {{- else -}}
  xdg-open
  {{- end }} \
    "https://texdoc.org/pkg/${1}" > /dev/null 2>&1
}
