# This file contains environments for general, both non-/interactive shells
# shellcheck disable=SC2148

# >>> XDG conventions
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
# <<<

# >>> PATHs
# home/bin: for miktex
# home/.local/bin: my own binaries are here
export PATH="~/.local/bin:~/bin:$PATH"

# homebrew. Do this before `which/comment`ing any command
if which brew >/dev/null || [ -f /opt/homebrew/bin/brew ]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
    if [ -n "$IS_CHINA" ]; then
        export HOMEBREW_BREW_GIT_REMOTE="https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/brew.git"
        export HOMEBREW_CORE_GIT_REMOTE="https://mirrors.tuna.tsinghua.edu.cn/git/homebrew/homebrew-core.git"
        export HOMEBREW_BOTTLE_DOMAIN="https://mirrors.tuna.tsinghua.edu.cn/homebrew-bottles"
    fi
fi

# dart/flutter pub
if command -v dart 2>&1 >/dev/null; then
  export PATH="$PATH:$HOME/.pub-cache/bin"
fi

# rustup
if [ -d "/opt/homebrew/opt/rustup/bin" ]; then
  export PATH="/opt/homebrew/opt/rustup/bin:$PATH"
fi

# openjdk
if [ -d "/opt/homebrew/opt/openjdk/bin" ]; then
  export PATH="/opt/homebrew/opt/openjdk/bin:$PATH"
fi

# qt
{{ if eq .chezmoi.os "darwin" }}
qt_path=`find ~/Qt -path '*/macos/bin' -type d -depth 3 | head -n 1` && {
  export PATH="${qt_path}:$PATH"
}
{{ end }}

# Default softwares
if command -v nvim 2>&1 >/dev/null; then
  export VISUAL=nvim
elif command -v vim 2>&1 >/dev/null; then
  export VISUAL=vim
fi
  

# Program and compiler configs
export CPPFLAGS="-I/opt/homebrew/opt/openjdk/include"
export CHKTEXRC="$HOME/.config/chktex"
export RIPGREP_CONFIG_PATH="$HOME/.config/ripgrep/ripgreprc"

# Local config overwrite
source "$HOME/.config/sh/local.sh"
